{{define "page"}}
  <div style="min-height: 100vh;">
    <h1>Contact Page</h1>
    <p>
      To get in touch, email me at <a href="mailto:liam@lawrence.io">liam@lawrence.io</a>.
    </p>
  </div>
{{end}}
